<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Redefining the Latte Factor</title>
  <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="static/liquidFillGauge.js" language="JavaScript"></script>
  <!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
  <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='liquidFillGuage.js') }}"> -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Redefining the Latte Factor</h1>
        <p class="heading-text">Is That Starbucks Drink Worth It?</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-offset-2">
        <div class="well">
          <h5>Select the Starbucks Menu Item That's Tempting You:</h5>
          <select id="selDatasetItem" onchange="optionChanged(this.value)"></select>
        </div>
      </div>
      <!-- <div class="col-md-6">
        <div id="pie"></div>
      </div> -->
    </div> 

    <div class="row">
      <div class="col-md-6">
        <div class="well">
          <h5>About how much do you weigh? Be honest, now.</h5>
          <select id="selDatasetWeight" onchange="weightOptionChanged(this.value)"></select>
        </div>
      </div>
    </div>

    <div class="row">  
      <div class="col-md-6">
        <div class="well">
          <h5>How many calories are you hoping to ingest today?</h5>
          <select id="selDatasetCalories" onchange="calOptionChanged(this.value)"></select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div id="words-viz"></div>
        <div id="calories-viz"></div>
          <svg id="fillgauge" width="100%" height="350" onclick="gauge.update(NewValue());"></svg>
            <script language="JavaScript">
              var gauge= loadLiquidFillGauge("fillgauge", 23, config);
              var config = liquidFillGaugeDefaultSettings();
              config.circleColor = "#D4AB6A";
              config.textColor = "#553300";
              config.waveTextColor = "#805615";
              config.waveColor = "#AA7D39";
              config.circleThickness = 0.1;
              config.circleFillGap = 0.2;
              config.textVertPosition = 0.8;
              config.waveAnimateTime = 2000;
              config.waveHeight = 0.3;
              config.waveCount = 1;
            </script>
      </div>

      <div class="col-md-6">
        <div id="pie"></div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="barDiv"></div>
    </div>
  </div>

  <!-- <script src="https://d3js.org/d3.v4.js"></script> -->
  <!-- <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script> -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='../static/app.js') }}"></script>


</body>

</html>
