.jumbotron {
    background-image: url("../starbucks_cups.jpg");
    background-size: cover;
    /* opacity: 0.5; */
    font-weight: bold;
    font-family: "Tahoma", Geneva, sans-serif;
  }
  
  /* .subheader {
    font-size: 40;
  } */
.heading-text {
  font-size: 40;
  font-weight: bold;
  font-style: italic;
  text-indent: 400px;
}

.well {
  border: 3px solid #036635;
  /* border: 2px solid rgb(28, 96, 62); */
  background-color: #f7f7f7;
  /* background: rgb(250, 255, 239); */
  padding-left: ($spacer-x * .5) !important;
  padding-right: ($spacer-x * .5) !important;
}

.liquidFillGaugeText { 
  font-family: Helvetica; 
  font-weight: bold; 
}

.px-2 {
  padding-left: ($spacer-x * .5) !important;
  padding-right: ($spacer-x * .5) !important;
}

.svg-container {
  width: 540px;
  height: 355px;
}

.js-plotly-plot {
  width: 540px;
  height: 355px;
}

/* .plotly div {
  direction: ltr;
  font-family: "Open Sans", verdana, arial, sans-serif;
  margin: 0px;
  padding: 0px;
}



/* #item {

}

#weight {

}

#calories {

} */